body{
    margin: 0;
    padding: 0;
    font-family: Poppins;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 71px;
}

 nav .logo{
    font-size: 35px;
    color: #c72092;
    margin: 5px 0;
    cursor: pointer;
    position: relative;
    left: -4%;
}
nav .logo span{
    color: #6c14d0;
    text-decoration: underline;
}

 nav ul{
    list-style: none;
    text-align: center;
    padding-right: 15%;
    font-size: 1.3rem;
}

nav ul li{
    display: inline-block;
    margin: 5px 15px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

 nav ul li a:hover{
    color: #c72092;
}

 nav .icons i{
    margin: 0 4px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

 nav .icons i:hover{
    color: #c72092;
}
.icons a{
    color: black;

}
.wrapper{
    margin: 0px 0 50px 50px;
    width: 95%;
   
}
h1{
    text-align: center;
    font-size: 3.5rem;
    background: linear-gradient(to right, #c72092,#6c14d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}
.category{
  

   padding: 10px 50px 10px 10px;
   width: 20%;
   position: fixed;
   font-size: 1.3rem;
   border-right: thick solid plum;
   border-top: thick solid plum;
   text-align: end;
}
.category ul{
    list-style-type:none;

}
.category ul a{
text-decoration:none;
}
.category ul li:hover{
    color:#c72092;
}

.products{
    float: right;
    width: 70%;
    height: 140vh;
    padding: 25px 0;
}

.products h1{
    margin: 35px 0;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(to right, #c72092,#6c14d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

.products .box{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px 0;
}

.products .box .card{
    width: 300px;
    height: 420px;
    box-shadow: 0 0 8px #6c14d0;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    background: #f6f6f6;
}

.products .box .card .small_card{
    display: flex;
    flex-flow: column;
    position: absolute;
    margin: 10px 0;
    transform: translateX(-20px);
    transition: 0.3s;
    opacity: 0;
    border:none;
}

.products .box .card:hover .small_card{
    transform: translateX(2px);
    cursor: pointer;
    opacity: 1;
}

.products .box .card .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.products .box .card .image img{
    width: 150px;
    margin: 15px 0;
    transition: 0.3s;
}

.products .box .card:hover .image img{
    transform: scale(1.1);
}

.products .box .card .small_card i{
    width: 45px;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    margin: 2px 0;
    line-height: 40px;
    border: 2px solid #999999;
    transition: 0.2s;
}

.products .box .card .small_card i:hover{
    color: #c72092;
}

.products .box .card .products_text h2{
    font-size: 30px;
    margin-top: 15px;
}

.products .box .card .products_text p{
    color: #91919191;
    line-height: 21px;
    margin: 8px 0;
}

.products .box .card .products_text h3{
    margin: 7px 0;
}

.products .box .card .products_text .products_star{
    color: orange;
    margin-bottom: 19px;
    cursor: pointer;
}

.products .box .card .products_text .btn{
    text-decoration: none;
    padding: 10px 20px;
    background: linear-gradient(to right, #c72092 , #6c14d0);
    color: white;
}