<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- fix iOS 10~ bug -->
    <meta name=“x-apple-disable-message-reformatting”>
    <!-- fix IE bug -->
    <meta http-equiv=“X-UA-Compatible” content=“IE=edge,chrome=1”>
    <title>Payment Failed</title>
</head>
<body style="width:100%; max-width: 660px; min-width: 300px; margin: 0 auto;">

<span style="color:transparent; display:none; height:0; opacity:0; visibility:hidden; width:0">We tried to process your payment but had no luck. Please take a look at your billing information.</span>

<table align="center" style="padding:30px;margin-top:10px;" width="100%">
    <tbody>
    <tr>
        <td >

        </td>
    </tr>
    <tr>
        <td style="padding-right:30px; padding-left:30px; padding-top:50px; padding-bottom:50px; color:#717171; font-family:arial; font-size:14px; border: 0px;border-radius:8px;box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);">
            <span style="font-size:25px;"><b>Uh oh, your payment failed :(</b></span>
            <br><br><br>On 11 july your payment for your products  was due.
            <br><br>We tried to process your payment but had no luck. Please retry.
            <br><br>If all transaction attempts failed, all traffic will <strong>be redirected back to the origin server</strong> until the payment has been cleared.
            <br><br>We suggest you review your billing information and make changes if necessary.

            <br><br><br><br>

            <center><span style="font-size:12px;">Have any questions? Please write to <a href="mailto:support@new2me.com.np" style="color:#81CDFF;">support@new2me.com.np</a> and we’d be happy to answer them.</span></center>
        </td>
    </tr>
    </tbody>
</table>

<table align="center" width="100%">
    <tbody>
    <tr>
        <td align="center" style="font-family:arial; font-size:11px; color:#717171;">
            <span>&copy; 2023 New2Me . All rights reserved</span><br><br><br>


        </td>
    </tr>
    </tbody>
</table>

</body>
</html>