<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="" th:href="@{/css/login.css}">
    <title>Document</title>
</head>
<body>
<section class="login">
    <div class="login_box">
        <div class="left">
            <div class="top_link"><a th:href="@{/}">Return home</a></div>
            <div class="contact">
                <form th:action="@{/login}" method="post">
                    <h3>SIGN IN</h3>
                    <input type="text" name="username" placeholder="USERNAME">
                    <input type="password" name="password" placeholder="PASSWORD">
                    <div th:if="${param.error}" class="alert alert-error text-danger">
                        Invalid username or password.
                    </div>
                    <button class="submit">LET'S GO</button>
                </form>
            </div>
        </div>
        <div class="right">
            <div class="right-inductor"></div>
    </div>
</section>
</body>
</html>